.our-team {
  font-family: 'ZhiznRegular';
  font-weight: 700;
  margin-bottom: 50px;
}

.wath-we-do-wrapper {
  font-size: 24px;
  line-height: 30px;
  font-family: 'ZhiznRegular';
  text-align: center;
  overflow: auto;
  margin: 50px 0 50px 0;
}

.wath-we-do-wrapper ul {
  list-style-type: none;
}

.monkey-background {
  background-image: url('../img/back.png');
  margin-bottom: -40px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
}

.body-wrapper {
  overflow: auto;
}

.body-wrapper .description {
  width: 70%;
  float: right;
  overflow: hidden;
}

.about-us {
  font-size: 18px;
  line-height: 20px;
  font-family: 'ZhiznRegular';
}

.user {
  overflow: auto;
  position: relative;
  margin-bottom: 100px;
}

.user .header {
  font-size: 18px;
  line-height: 20px;
  font-family: 'ZhiznRegular';
  margin-bottom: 20px;
}

.user .position {
  margin-bottom: 20px;
}

.user .staff {
  float: left;
  position: absolute;
  top: 50%;
  margin-top: -100px;
}

.user-description {
  width: 500px;
}

.photo {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: contain;
  float: right;
}


.other-team {
  font-family: 'ZhiznRegular';
  font-weight: 700;
}

.other-users {
  font-size: 18px;
  line-height: 20px;
  font-family: 'ZhiznRegular';
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}